<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Wheelchair pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find wheelchair)/launch/robot_description.launch"/>

  <!-- World File -->
  <arg name="world_file" default="$(find wheelchair)/worlds/empty.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find wheelchair)/urdf/wheelchair.xacro'"/>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model wheelchair 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
  
  <!--launch rviz-->
  
 <node name="rviz" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find wheelchair)/default.rviz"/>
  
  <rosparam file="$(find wheelchair)/config/joint_states.yaml" command="load"/>

  <rosparam file="$(find wheelchair)/config/diff_drive.yaml" command="load"/>

  <rosparam file="$(find wheelchair)/config/effort.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
  respawn="true" output="screen" 
   args="/wheelchair/joint_state_controller
         /wheelchair/diff_drive_controller
         /wheelchair/z_position_upper_chassis_controller
         /wheelchair/back_controller
        --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/wheelchair/diff_drive_controller/cmd_vel"/> 
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui">
  </node>

</launch>